<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">
                <img src="image/rex.svg" alt="Heck Yeah Chat logo">
                <span class="hide-on-med-and-down">Heck Yeah, Chat!</span>
            </a>
            <ul id="nav-mobile" class="right">
                <li><a href="#!" class="dropdown-trigger" data-target="account-dropdown">
                        <i class="material-icons">account_circle</i>
                    </a></li>
            </ul>
            <!-- Dropdown Structure -->
            <ul id='account-dropdown' class='dropdown-content'>
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="#!">three</a></li>
                <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
            </ul>
        </div>
    </nav>
</div>