<header class="bg-light-red w-100 ph2 pv2">
    <nav class="flex items-center justify-between">
        <a href="/" class="link dim white dib mr3">
            <img src="image/rex.svg" alt="Heck Yeah Chat logo" class="w2 h2 v-mid">
            <span class="di-ns dn fw6">Heck Yeah, Chat!</span>
        </a>
        {% if user %}
            <div class="relative">
                <button id="account-btn" class="bn bg-transparent link dim white dib mr3" data-state="closed">
                    <i class="material-icons">account_circle</i>
                </button>
                <div class="w4 dn absolute mr2 bg-light-gray top-2 right-0 ba shadow-1 z1">
                    <a href="" class="db pl1 pv2 no-underline black hover-bg-washed-blue bg-animate">Settings</a>
                    <a href="" class="db pl1 pv2 no-underline black hover-bg-washed-blue bg-animate">Something</a>
                    <a href="/logout" class="db pl1 pv2 no-underline black hover-bg-washed-blue bg-animate">Logout</a>
                </div>
            </div>
        {% endif %}
    </nav>
</header>