{% extends "base.html" %}

{% block title %}HYC - Sign In{% endblock %}

{% block content %}
<main class="flex flex-column justify-center h-100 bg-light-gray">
    <form class="measure center pa4 ba br3 shadow-2 bg-white ma2" method="POST" action="/auth/login">
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
            <legend class="f4 fw6 ph0 mh0">Sign In</legend>
            <div class="mt3">
                <label class="db fw6 lh-copy " for="email-address">Email</label>
                <input class="pa2 input-reset ba w-100" type="email"
                    name="email-address" id="email-address">
            </div>
            <div class="mv3">
                <label class="db fw6 lh-copy " for="password">Password</label>
                <input class="b pa2 input-reset ba w-100" type="password"
                    name="password" id="password">
            </div>
            <label class="pa0 ma0 lh-copy  pointer"><input type="checkbox"> Remember me</label>
        </fieldset>
        <div class="">
            <button class="b ph3 pv2 input-reset ba b--black br2 pointer hover-bg-light-red w-100 bg-animate" type="submit">Sign in</button>
        </div>
        <div class="lh-copy mt3">
            <a href="/sign-up" class=" link dim black db">Sign up</a>
            <a href="/forgot-password" class=" link dim black db">Forgot your password?</a>
        </div>
    </form>
</main>

{% endblock %}
