{% set whom = 'self' if msg.UserId==user.id else 'other' %}
{% set span_class = 'bg-light-green' if whom == 'other' else 'bg-light-blue' %}
{% set container_class = 'justify-start' if whom == 'other' else 'justify-end' %}
<div class="message-row flex flex-row {{container_class}} {{'last-of-my-kind' if loop.last else ''}}" data-message-id="{{msg.id}}">
    <span class="message-bubble ph2 pt2 pb1 ma2 w-75 br4 relative hide-child {{span_class}}">
        <div class="pv1">
            {{msg.text}}
        </div>
        <div class="f7 tr i">
            {{msg.sentAtPrettyTime}}
        </div>
        <button class="message-menu-btn child bn bg-transparent pointer absolute right-0 top-0" data-state="closed">
            <span class="material-icons message-icon">expand_more</span>
        </button>
        <div class="message-menu dn absolute mr2 mt1 br2 bg-light-gray top-1 right-0 ba shadow-1 z-2 overflow-hidden">
            <div class="ph1 pv2 f4 bb b--gray">
                {% for rt in reactionTypes %}
                    <button data-reaction-id="{{rt.id}}" class="msg-react-btn bn bg-transparent pointer ph1 o-60 glow">
                        &#x{{rt.unicode}};
                    </button>
                {% endfor %}
                <button class="msg-react-more-btn bn bg-transparent pointer ph1 o-60 glow">
                    <span class="material-icons v-btm">more_vert</span>
                </button>
            </div>
            <button class="msg-reply-btn db w-100 tl pa2 bn bg-transparent pointer o-90 glow hover-bg-washed-blue bg-animate flex items-center">
                <span class="material-icons f5 pr1 0-90 glow">reply</span>
                Reply
            </button>
            <button class="msg-del-btn db w-100 tl pa2 bn bg-transparent pointer o-90 glow hover-bg-washed-blue bg-animate flex items-center">
                <span class="material-icons f5 pr1 0-90 glow">delete</span>
                Delete
            </button>
        </div>
        {% include "reaction-pane.html" %}
    </span>
</div>